<!-- templates/registration/login.html -->
{% extends 'base.html' %} 
{% block content %} 
  {% if form.errors %}
    <p>Введённые логин и пароль не существуют. Попробуйте ввести снова.</p>
  {% endif %} 
  {% if next %} 
    {% if user.is_authenticated %}
      <p>
        Твой аккаунт не имеет доступа к этой странице. Чтобы продолжить, пожалуйста,
        войдите с учетной записью, имеющей доступ.
      </p>
    {% else %}
      <p>Пожалуйста войдите, чтобы увидеть эту страницу.</p>
    {% endif %}
  {% endif %}
  <form id="login_form" id="tssite" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>

    <button class="enter_button" type="submit">Войти</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
{% endblock %}
