{% extends "admin/base_site.html" %}
{% block extrahead %}
<script>

    const csrftoken = getCookie("csrftoken");
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    async function click_my_data() {
        var start = document.getElementById("start").value
        var end = document.getElementById("end").value;
        data = {
            "start": start !== '' ? start : null,
            "end": end !== '' ? end : null
        }
        let response = await fetch("download_data/", {
            method: "POST",
            headers: { "X-CSRFToken": csrftoken },
            mode: "same-origin",
            body: JSON.stringify(data),
        });
        if (response.ok) {
            let answer = await response.blob();
            answer = window.URL.createObjectURL(answer);
            window.open(answer);
        } else {
            alert("Не удаётся получить данные");
        }
    }
</script>
{% endblock %}
{% block title %}Test page{% endblock %}
{% block content %}
<div>
    <label>
        Начальная дата
        <input type="date" id="start" name="trip-start" min="2021-12-01">
    </label>
    <label>
        Конечная дата
        <input type="date" id="end" name="trip-end">
    </label>
</div>
<a download="otchet.xslx">
    <button onclick="click_my_data()">Выгрузить данные</button>
</a>
{% endblock %}