<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ковид-Отчет</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="/static/js/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div
        class="header_content"
        onclick="window.location=window.location.origin"
      >
        <div class="hc_lp">
          <img src="/static/assets/images/heart.png" height="40" />
          <p class="site_name" class="link">ITMedicine</p>
        </div>
        <div class="hc_rp">
          {% if user.is_authenticated %}
          <p>{{ user.first_name }}</p>
          <a
            href="{% url 'logout' %}"
            style="color: #ffffff; text-decoration: none"
          >
            <p class="exit_text">Выйти</p>
            <img
              class="exit_icon"
              src="https://img.icons8.com/ios/50/ffffff/exit.png"
              style="height: 40px; width: 40px"
            />
          </a>
          {% else %}
          <script>
            if (window.location.pathname != "{% url 'login' %}") {
              window.location.href =
                window.location.origin + "{% url 'login' %}";
            }
          </script>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="content">{%block content%} {%endblock%}</div>
    <footer>
      <div class="footer_content">
        <p>© 2020-2022 Copyright:&nbsp;</p>
        <p href="index.html" style="color: #ffffff; text-decoration: none">
          ITMedicine.com
        </p>
      </div>
    </footer>
  </body>
</html>
